* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    width: 1366px;
    height: 768px;;
    background-image: url('../images/background\ 1.png');
    margin: 0 auto;
}

.header_container {
    display: flex;
    justify-content: space-between;
    padding-top: 51px;
    padding-bottom: 22px;
    max-height: 123px;
}

.logo_container {
    display: flex;
    max-height: 51px;
    justify-content: space-between;
    margin-left: 170px;
}

.logo_link {
    text-decoration: none;
}

.logo_img {
    width: 53px;
    height: 47px;
    background-image: url('../images/logo_white.svg');
    margin-right: 8px;
}

h2 {
    text-transform: uppercase;
    color: white;
    font-weight: 700;
    font-size: 29px;
    line-height: 29px;
    display: flex;
    flex-direction: column;
    float: right;
    margin-top: 3px;
}

.holidays {
    font-size: 18px;
    line-height: 18px;
}

.logo_img_orange {
    display: none;
}

.logo_link:hover img {
    opacity: 0;
}

.logo_link:hover {
    background-image: url('../images/logo_orange.svg');
    background-repeat: no-repeat;
}

.logo_link:hover > h2 {
    color: #F26522;
}

.contacts{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;  
    color: white;
    padding-right: 171px;
}

.email, .phone_number {
    text-decoration: none;
    margin-bottom: 15px;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;  
    color: white;
}

.email:hover {
    color: #F26522;
}

.phone_number:hover{
    color: #F26522;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
}

.main-container {
    display: grid;
    grid-template-rows: repeat(2, 220px);
    grid-template-columns: repeat(3, 300px);
    grid-row-gap: 78px;
    grid-column-gap: 63px;
    text-align: center;
}

.item_link {
    text-decoration: none;
}

.image_descr {
    font-size: 18px;
    line-height: 18px;
    color: white;
    position: relative;
    top: 20px;
}

.container {
    position: relative;
}

.hover_text {
    color: white;
    display: flex;
    justify-content: space-between;
}

.from {
    font-size: 10px;
    padding-top: 7px;
    padding-bottom: 8px;
    padding-left: 8px;   
}

.price {
    font-size: 20px;
    padding-bottom: 12px;
    padding-left: 16px;
}

.details {
    padding-right: 37px;
    padding-bottom: 16px;
    display: flex;
    align-items: flex-end;
    font-size: 14px;
    line-height: 14px;
    position: relative;
}

.details::after{
    content: '';
    background-image: url('../images/Vector\ 1.png');
    background-repeat: no-repeat;
    position: absolute; 
    left: 90px;
    top: 33px;
    width: 100px;
    height: 100px;
    background-size: 5px 10px;
}

.overlay {
    position: absolute;
    opacity: 0;
    transition:all .3s ease;
}

.container:hover .overlay {
    opacity: 1;
}

.overlayBottom{
    width: 100%;
    height: 0;
    bottom:0;
    left:0;
    background-color: #F26522;
}


.container:hover .overlayBottom {
    height: 55px;
}

.item_link:hover > .image_descr {
    color: #F26522;
}


.footer {
    margin-bottom: 15px;
    margin-top: 90px;
    text-align: center;
    color: white;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
}